@charset "utf-8";
@import url('http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./normalize.css');
@import url('./reset.css');
@import url('./fonts.css');

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-family:  'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  font-size: 1.4rem;
  color:#181818;
  background: #fff;
}
a{
  color: inherit;
  text-decoration: none;
}
/* a:link{
 color: green;
}
a:visited{
 color:gray;
}
a:hover, a:focus{
 color: red;
} */
/* 공동스타일  */
/* 레이블 숨기기 위함 --존재하지만  안보임 */
legend,.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;
}
.resposive-wrap{
  display: grid;
  /* grid-template-columns: 50%;
  justify-content: center; */
}
.responsive{
  max-width: 100%;
  height: auto;
}
/* 공통 메인 콘텐프 섹션 */
.main-content{
  margin-top: 1em;
}
/* 공통 메인 콘텐츠 제목 */
.main-content-heading{
  background: url("./images/sprite_main.png") no-repeat;
  min-height: 60px;
  font-size: 1.7rem;
  font-weight: 700;
  padding-left: 65px;
  margin: 1em 0 1.5em;
}
.en-heading{
  display: block;
  text-transform: capitalize;
}
.recommend-book-heading .en-heading{
  color: #abd375;
}
.news-heading{
  background-position: 0 -230px;
}
.news-heading .en-heading{
  color: #e8ca68;
}
.board-heading{
  background-position: 0 -115px;
}
.board-heading .en-heading{
  color: #c7b39a;
}
.favorite-site-heading{
  background-position: 0 -345px;
}
.favorite-site-heading .en-heading{
  color: #eea60a;
}
.twitter-heading{
  background-position: 0 -460px;
}
.twitter-heading .en-heading{
  color: #6aaee6;
}
/* 공통 메인 콘텐츠 단락 */
.main [class*="summary"]{
  margin-top: 10px;
  line-height: 1.5;
}
/* 공통 추천서적 */
.recommend-book-cover{
  justify-self: center;
  text-align: center;
}
.recommend-book-detail{
  text-align: center;
}
.recommend-book-author,.recommend-book-author-name{
  display: inline;
}
.recommend-book-grade{
  font-size: 2rem;
}
.recommend-book-grade [class^="icon"]{
  margin-left: -0.5em;
  color: #abd375;
}
/* 공통 새소식 */
.news-date{
  display: block;
  text-align: right;
}
/* 공통 게시판 */
.board{
  position: relative;
}
.board-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 ;
}
.board-list a{
  width:  calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-more{
  position: absolute;
  right: 0;
}
.board-more::before{
  color: #abd375;
}
/* 공통 인기사이트 */
.favorite-site-list{
  list-style-type: none;
  counter-reset: 0;
}
.favorite-site-list li{
  counter-increment: number;
  line-height: 2;
  margin-bottom: 5px;
}
.favorite-site-list li::before{
  content: counter(number);
  background: #eea60a;
  color: #fff;
  padding: 2px 8px;
  border-radius: 50%;
  margin-right: 0.5em;
  /* content:attr() */
}
/* 공통 트위터 */
.twitter{
  position: relative;
  padding-right: 25%;
}

.twitter-user-name{
  color: #6aaee6;
}
.twitter-user-name, .twitter-user-id{
  display: inline-block;
}
.twitter-profile{
  position: absolute;
  right: 0;
  padding-left: 1em;
  width: 25%;
  text-align: right;
}
.twitter-profile img{
  border-radius: 50%;
  border: 1px solid #333;
  padding: 10px;
}
.twitter-summary{
  line-height: 1.5;
}
.twitter-date{
  /* display: block;
  text-align: right; */
  position: absolute;
  right: 0;
  bottom: 0;
}
/* 공통 푸터 */
.footer{
  background: #988574;
  padding: 30px;
  color: #fff;
}
.address, .copyright{
  margin: 10px 0;
}

/* 스몰 스타일  */
@media screen and (max-width: 319px){
  .header{
    background-color: #38302e;
    color: #fff;
    padding: 1em 1em;
  }
  .member{
    margin: 1em 0;
  }
  input[type="search"]{
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px; /*안에 글자의 여백*/
    width: calc(100% - 30px - 1em); /*버튼 가로,여백 크기를 뺀 크기*/
    font-size: 1.4rem;
    margin-right: 0.5em;
  }
  .btn-search{
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    background:transparent;
    font-size: 1.4rem;
  }
  .btn-search::after{
    position: absolute;
    top: 0; left: 0;
    content: '';
    background: url('./images/btn_search.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;    
  }

}
/* 모바일 스타일  */
@media screen and (min-width: 320px) and (max-width: 990px){
  /* 모바일 해더 */
  .header{
    background-color: #38302e;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .logo, .member ,.search-form{
    width: 100%;
    padding-left:20px;
    padding-right: 20px;
  }
  /*모바일 멤버 */
  .member{
    background-color: #988574;
    order: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .member a{
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: -1em;
  }
  .member a:hover, .member a:focus{
    color: #ffff00
  }
  .member .bar{
    display: none;
  }
  /* 모바일 로고 */
  .logo {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .logo img{
    vertical-align: top;
  }
  /* 모바일 검색 폼 */
  .search-form{
    /* background: #ffff00; */
    padding-top: 1em;
    padding-bottom: 1em;
 
  }
  .search-form fieldset{
    font-size: 0;
  }
  input[type="search"]{
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 30px;
    padding: 2px 2px 2px 5px; /*안에 글자의 여백*/
    width: calc(100% - 30px - 1em); /*버튼 가로,여백 크기를 뺀 크기*/
    font-size: 1.4rem;
    margin-right: 1em;
  }
  .btn-search{
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    background:transparent;
    font-size: 1.4rem;
  }
  .btn-search::after{
    position: absolute;
    top: 0; left: 0;
    content: '';
    background: url('./images/btn_search.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
  }
  /* 모바일 네비게이션 */
  .navigation{
    background: blue;
  }
  /* 모바일 메뉴 제어 버튼 */
  .btn-menubar{
    background: transparent;
    width: 30px;
    height: 30px;
    border: 0;
    padding:0;
    position: absolute;
    top: 7rem;
    right: 20px;
  }
  .is-act .btn-menubar{
    overflow: hidden;
  }
  .menubar{
    background: #fff;
    width: 100%;
    height: 22%;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    /* transition-property: transform, background, top;
    transition-duration: 500ms,1000ms,500ms;
    transition-delay: 0s, 500ms, 1000ms;
    transition-timing-function: ease-in-out; */
  }

  .menubar-top{
    top: 0;
  }
  .is-act .menubar-top{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .menubar-middle{
    top: 50%;
    transform: translateY(-50%);
  }
  .is-act .menubar-middle{
    transform: translate(-100%, -50%);
  }
  .menubar-bottom{
    top: 100%;
    transform: translateY(-100%);
  }
  .is-act .menubar-bottom{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  /* 모바일 메인 메뉴 */
  .menu{
    background: rgba(0,0,0,0.85);
    color: #fff;
    position: fixed;
    width: 70vw;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.2s;
    padding: 1.5em;
  }
  .is-act .menu{
    transform: translateX(0);
  }
  .menu-item{
    margin: 1em 0;
    display: block;
    cursor: pointer;
  }
  
  .sub-menu{
    display: none;
    margin-left: 2em;
    list-style: circle;
  }
  .menu-act .sub-menu{
    display: block;
  }
  .sub-menu li{
    margin-bottom: 0.5em;
  }
  /* 모바일 메인 콘텐츠 */
  .main{
    padding: 0 15px;
  }
  /* 모바일 추천 서적 */
  .recommend-book-cover{
    width: 50%;
  }
    /* 모바일 게시판 */
    .board-more{
      top: 0;
    }
    /* 모바일 트위터 */
    .twitter-profile{
      top: 0;
    }
    .twitter-summary{
      padding-bottom: 20px;
    }
    /* 모바일 슬로건 */
    .slogan{
      padding: 15px 20px;
      line-height: 1.5;
    }
    .slogan-heading{
      display: none;
    }
    /* 모바일 푸터 */
    .address span{
      display: block;

    }
}

/* 데스크탑 스타일  */
@media screen and (min-width: 1000px){
  /* 데스크탑 레이아웃 */
  .header, .menu, .main, .slogan{
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
  }
  /* 데스크탑 해더 */
  .header{
    position: relative;
  }
  /* 데스크탑 로고 */
  
  .logo{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -29px; 
    /* transform: translateY(-50%); */
  }
  /* 데스크탑 멤버링크 */
  .member{
    text-align: right;
    padding: 2px 0;
    position: relative;
    right: -10px;
  }
  .member li, .member a{
    display: inline-block;
  }
  /* .member li:nth-child(n+2)::before{
    content: "|";
  } */
  .member a{
    padding: 0.5em 10px;
    margin-left: 3px;
    }
  /* 데스크탑 검색 폼 */
  .search-form{
    text-align: right;
    margin: 1em 0;
  }
  .search-form input[type="search"]{
    width: 400px;
    height: 35px;
    border: 1px solid #999;
    padding: 1px 1px 1px 5px;
    border-radius: 5px;
    margin-right: 0.5em;
  }
  .btn-search{
    height: 35px;
    border: 1px solid #999;
    padding: 1px 1em;
    background: #988574;
    color: #fff;
    border-radius: 5px;
    /* transition: border-radius 0.6s; */
  }
  /* .btn-search:hover, .btn-search:focus{
    border-radius: 0px 15px 0px 15px;
  } */
  /* 데스크탑 네비게이션 */
  .navigation{
    background: #988574;
    /* box-shadow: 0 -2px 0px 5px 0px #000000, 0 2px 5px 0px #000000; */
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
  }
  .btn-menubar{
    display: none;
  }
  .menu{
    /* width: 1000px;
    margin: 0 auto; */
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* overflow:auto; */
    color: #fff;
  }
  .clearfix::after{
    content: "";
    display: block;
    clear: both;
  }
  .menu-list{
    float: left;
    /* width: 200px; */
  }
  .menu-list:nth-child(n+2){
    margin-left: 60px;
  }
  .menu-item{
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 0 1px 0 #000,1px 0 0 #000,0 -1px 0 #000,-1px 0 0 #000;
  }
  .sub-menu{
    margin: 1em;
  }
  .sub-menu li{
    margin-bottom: 1em;
  }
  /* 데스크탑 메인 컨텐츠 */
  .main{
    display: grid;
    min-height: 600px;
    grid-template-columns: repeat(12, 65px);
    /* grid-column-gap: 20px;  */
    grid-template-rows: auto auto;

    grid-template-areas: "book book book book news news news news news news news news"
                         "board board board board twitter twitter twitter twitter twitter favorite favorite favorite";
    /* justify-items: center;
    align-items: center; */
    justify-content: space-between;
    align-content: stretch;
  }
  /* 추천서적 */
  .recommend-book{
    /* grid-column-start: 1;
    grid-column-end: 5; */
    /* grid-column: 1/5; */
    grid-area: book;
  }
  /* 새소식 */
  .news{
    /* grid-column-start:5;
    grid-column-end: 13; */
    /* grid-column: 5/13; */
    /* grid-area: 2/5/3/13; */
    grid-area: news;
  }
  /* 게시판 */
  .board{
    /* grid-column-start:1;
    grid-column-end: 5; */
    /* grid-column: 1/5; */
    grid-area: board;
  }
  /* 인기 사이트 */
  .favorite-site{
    /* grid-column-start:10;
    grid-column-end: 13; */
    /* grid-area: 1/10/2/13; */
    grid-area: favorite;
  }
  /* 트위터 */
  .twitter
  {
    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-row: 2/3; */
    /* grid-column-start:5;
    grid-column-end: 10; */
    /* grid-column: 5/10; */
    /* grid-area: 2/5/3/10; */
    /* grid-area: 1/5/2/10; */
    grid-area: twitter;
  }
  /* 데스크탑 추천 서적 */
  .recommend-book-cover{
    width: 70%;
  }
    /* 데스크탑 게시판 */
    .board-more{
      top: 15px;
    }
    /* 데스크탑 트위터 */
    .twitter-profile{
      top: 100px;
    }
    /* 데스크탑 슬로건 */
    .slogan{
      padding: 15px 50px 15px 150px;
      position: relative;
    }
    .slogan-heading{
      width: 110px;
      height: 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -25px;
      left: 10px;
    }
    .slogan-heading::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:url('images/coffee.png') no-repeat;
    }
    .slogan-content{
      line-height: 1.5;
      font-size: 1.5rem;
    }
    .slogan-content q::before{
      font-size: 3rem;
      position: relative;
      top: 10px;
    }
    .slogan-content q::after{
      content: "";
    }
    /* 데스크탑 푸터 */
    .footer{
      text-align: center;
    }
    
}