@charset "utf-8";

body{
  margin: 0;
}
/* 반응형 이미지 */
.responsive{
  max-width: 100%;
  height: auto;
}
.cotainer{
  max-width: 1000px;
  margin: 0 auto;
  column-gap: 20px;

}
.card{
  border: 1px solid #333333;
  padding: 2px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px){
  .cotainer{
    columns: 1;
  }
}
@media screen and (min-width: 481px) and (max-width:800px){
  .cotainer{
    columns: 2;
  }
}
@media screen and (min-width:1200px){
  .cotainer{
    columns: 3;
  }
}
